<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI</title>
    <script src="https://unpkg.com/@reactivex/rxjs@5.0.0-beta.7/dist/global/Rx.umd.js"></script>
</head>
<body>
    Weight: <input type="number" id="weight"> kg
    <br/>
    Height: <input type="number" id="height"> cm
    <br/>
    Your BMI is <div id="bmi"></div>
    <script src="/js/bmi.js"></script>
</body>
</html>