<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@reactivex/rxjs@5.0.0-beta.7/dist/global/Rx.umd.js"></script>
</head>
<body>
    <h1>Who to follow</h1>
    <button type="button" class="refresh">Refresh</button>
    <div class="users-box">
        <ul class="suggestion">
            <li class="suggestion1">
                <div class="avatar"><img /></div>
                <a href="#" target="_blank" class="username">this will not be displayed</a>
                <a href="#" class="close close1">x</a>
            </li>
            <li class="suggestion2">
                <div class="avatar"><img /></div>
                <a href="#" target="_blank" class="username">this will not be displayed</a>
                <a href="#" class="close close2">x</a>
            </li>
            <li class="suggestion3">
                <div class="avatar"><img /></div>
                <a href="#" target="_blank" class="username">this will not be displayed</a>
                <a href="#" class="close close3">x</a>
            </li>
        </ul>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>